@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */
.link-1{
    color: rgb(254, 163, 1);
}
.link-2{
    color: rgb(1, 172, 253);
}
.link-3{
    color: rgb(5, 212, 223);
}
.link-4{
    color: rgb(93, 88, 239);
}
#title-1{
    margin-top: 28px;
}
/* Header section style */
/* Navbar related style */

.navbar{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

}
.navbar-logo{
    display: flex;
    align-items: center;
}
.logo-title{
    color: black;
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0%;
    margin-left: 20px;
   
}
.nav-links{
    display: flex;
    align-items: center;
}
.list-item{
    list-style-type: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
   
}
.navbar-btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    border: none;
}
.navbar-btn:hover{
    background-color: white;
    color:orange;
    border: 1px solid orange;
}
.menu-icon{
    display: none;
}

/* Banner related style */

.banner{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;

}

.banner-content{
    max-width: 640px;
    align-items: center;
}

.banner-content-title{
    font-family: Quicksand;
    font-size: 3.5rem;
    font-weight:bold;
    line-height: 61px;
    letter-spacing: 0%;
    
}

.banner-content-description{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    margin-top: 24px;
    
}

.banner-content-btn{
    padding: 10px 20px;
    border-radius: 12px;
    background: black;
    color: white;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0%;
    margin-top: 24px;
   
}
.banner-content-btn:hover{
    color:black;
    background-color: white;
    border: 1px solid black;
}

.banner-img img{
    width: 100%;
    height: 100%;
}

/* curriculum section style*/
.curriculum{
   
    background-image: url('assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.curriculum-wrapper{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.curriculum-title{
    color: black;
    font-family: Quicksand;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 57.5px;
    letter-spacing: 0%;
    margin-top: 60px;
   
}
.curriculum-content{
    display: flex;
    gap: 20px;
    margin-top: 80px;
   
    
}
.card-1{
    border: 0.94px solid #def5ff;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px #0000000d;
    background: linear-gradient(180.00deg, #def5ff,#ffffff00 40%),#ffffff;
    box-sizing: border-box;
}

.card-2{
    border: 0.94px solid #fff4dc;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px #0000000d;
    background: linear-gradient(180.00deg, #fff4dc,#ffffff00 40%),#ffffff;
    box-sizing: border-box;
}

.card-3{
    border: 0.94px solid #f2e8ff;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px #0000000d;
    background: linear-gradient(180.00deg, #eee1ff,#ffffff00 40%),#ffffff;
    box-sizing: border-box;
}
.curriculum-card{
    text-align: center;
    padding: 60px 30px;
   
}
.curriculum-card-title{
    color: black;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 30.65px;
    letter-spacing: 0%;
    margin-top: 40px;
}
.curriculum-card-description{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 0.93rem;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    max-width: 286.26px;
    margin-top: 33px;

}
.curriculum-card-link{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 0.93rem;
    font-weight: bold;
    line-height: 28.3px;
    letter-spacing: 0%;
    margin-top: 30px;
    display: inline-block;
}
/* Media query */
@media screen and (max-width:576px){
    
    .header-wrap{
        border-bottom: 1px solid orange;
    }
   
    .nav-links{
        display: none;
    }
    .navbar-btn{
        display: none;
    }
    .logo-title{
       display: none;
       
    }
    .menu-icon{
      
        display: block;
        display: flex;
        align-items: center;
    }
    .menu-icon i{
        font-size: 2rem;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
        margin-top: 10px;
    }
    .curriculum-content{
       
       flex-direction: column;
    }
    
}